@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.titulo{
    text-shadow: 2px 2px 2px #000;
    color: azure;   
}
.subtitulo{
    text-shadow: 2px 2px 2px #000;
    color: rgb(19, 3, 243);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo{
    position: absolute;
}
picture{
    width: 100px;
    height: 100px;
}
img {
    width: 75px;
    height: 75px;
    object-fit: cover;
}